Lab: 11 - Data Analysis - Bike Stats
This data set is information about bike commuters, data on the riders, the weather and where they ride to and from and get their bikes from.

Amy Evans, 12.16.2019

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('trip.csv', skiprows=[50793])
df.head(2)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0

In [3]:
# Finding the average trip duration for a borrowed bicycle?

In [4]:
df['tripduration'].mean()

1178.2956753399776

In [5]:
# Finding the average age of a biker

In [6]:
mode_birthyear = df['birthyear'].mode()
mode_birthyear

0    1987.0
dtype: float64

In [7]:
avg_age = 2019 - mode_birthyear
avg_age

0    32.0
dtype: float64

In [8]:
# The average age of a bike-sharer is 32!

In [9]:
df = pd.read_csv('weather.csv')
df.head(2)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain

In [10]:
# Extracted the month from the date sting into a new column called month

In [11]:
df['month'] = pd.DatetimeIndex(df['Date']).month

In [12]:
# Listing the average percipitation by month

In [13]:
df.groupby('month')['Precipitation_In'].mean()

month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [14]:
# Listing the median percipitation

In [15]:
df.groupby('month')['Precipitation_In'].median()

month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

In [16]:
df = pd.read_csv('station.csv')
df.head(2)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN

In [17]:
# Finding the average number of bikes at a given bike station?

In [18]:
df['current_dockcount'].mean()

16.517241379310345

In [19]:
# When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [20]:
mod_date = df.dropna(subset=['modification_date'])
current_dockcount = ['current_dockcount']
install_dockcount = ['install-dockcount']
mod_bikes = mod_date.current_dockcount - mod_date.install_dockcount
mod_bikes

7     -2
10   -16
12     2
17    -2
22    -6
23     4
26   -16
31     2
35     8
37    -2
38   -20
39     4
46   -16
47     2
48    -2
49     2
50    -6
dtype: int64

In [21]:
# My guess would be that it is more likely to lose bikes after modification, since it looks like 10
# stores lost bikes our of this sample, while only 7 stores gained them.